<div class="sidenav">
    <app-nav-bar-action [name]="'Profile'" (click)="process('Profile')"></app-nav-bar-action>
    <app-nav-bar-action [name]="'Home'" (click)="process('Home')"></app-nav-bar-action>
</div>
