 /* The navigation menu links */
    .action {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    width: 80%;
    height: 20px;
    display: block;
    border-radius: 5px;
  }
  
  /* When you mouse over the navigation links, change their color */
   .action:hover {
    background: lightblue;
  }
  